@import url(/css/config/config.css);
@import url(/css/templates/navbar.css);
@import url(/css/pages/home_page.css);
@import url(/css/pages/sessions/admin/admin_dashboard.css);
@import url(/css/pages/sessions/employee/employee_dashboard.css);
@import url(/css/pages/sessions/vet/vet_dashboard.css);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: inherit;
}

body {
  background-color: var(--white);
  color: var(--shadow);
  font-family: var(--font-baloo);
}

.body_home {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(https://res.cloudinary.com/dnelvhydy/image/upload/v1719929635/tmi0godsaaiibnhyakkp.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-direction: column;
}

.title_welcome {
  display: flex;
  justify-content: center;
  align-content: center;
  color: var(--white);
  font-size: 3em;
}

.letter_title_welcome {
  display: inline-block;
  opacity: 0;
  animation: fadeInLeft 1s forwards;
}

.letter_title_welcome:nth-child(1) {
  animation-delay: 0.3s;
}

.letter_title_welcome:nth-child(2) {
  animation-delay: 0.6s;
}

.letter_title_welcome:nth-child(3) {
  animation-delay: 0.9s;
}

.letter_title_welcome:nth-child(4) {
  animation-delay: 1.2s;
}

.letter_title_welcome:nth-child(5) {
  animation-delay: 1.5s;
}

.letter_title_welcome:nth-child(6) {
  animation-delay: 1.8s;
}

.letter_title_welcome:nth-child(7) {
  animation-delay: 2.1s;
}

.button_access_website {
  height: 50px;
  width: 200px;
  position: relative;
  background-color: transparent;
  cursor: pointer;
  border: 2px solid var(--white);
  overflow: hidden;
  border-radius: 30px;
  color: var(--white);
  transition: all 0.5s ease-in-out;
  z-index: 50;
}

.btn_txt_website {
  z-index: 1;
  font-weight: 800;
  letter-spacing: 4px;
}

.type1::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  transition: all 0.5s ease-in-out;
  background-color: var(--white);
  border-radius: 30px;
  visibility: hidden;
  height: 10px;
  width: 10px;
  z-index: -1;
}

.button_access_website:hover {
  box-shadow: 1px 1px 200px var(--white);
  color: var(--shadow);
  border: none;
}

.type1:hover::after {
  visibility: visible;
  transform: scale(100) translateX(2px);
}

/* Tablet Styles */
@media screen and (min-width: 769px) {
  .title_welcome {
    font-size: 6em;
  }
}

/* Desktop Styles */
@media screen and (min-width: 1025px) {
  .title_welcome {
    font-size: 10em;
  }
}
