.main_reviews_page{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form_reviews_page{
  display: flex;
  flex-direction: column;
  align-content: center;
  background-color: var(--ClearWhite);
  border: var(--brown) solid 1px;
  padding: 10px;
  width: 80%;
  max-width: 425px;
  margin: 20px 0;
  border-radius: 5px;
}


.div_form_reviews_page{
  display: flex;
  flex-direction: column;
  margin: 5px 0;
}

.input_form_reviews_page{
  border: var(--white);
  padding: 5px 0 5px 10px;
  border-radius: 5px;
  color: var(--shadow);
  background-color: var(--white);
  border: 1px solid var(--brown);
}

.reviews_input{
  height: 100px;
}
