:root { 
/* Color */
    --main-white-color: #FAF1E4;
    --main-clear-color: #CEDEBD;
    --main-normal-color: #9EB384;
    --main-shadow-color: #435334;
    --main-red-color: #960000;

/* font */
    --font-family: 'Baloo Paaji 2', sans-serif;

}
