@import url(/public/css/config/config.css);

@media screen and (max-width : 768px) {
    #form_habitat_admin {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 10px;
        grid-auto-rows: minmax(50px, auto);
    }

    #form_habitat_admin > .habitat_form_input {
        background-color: var(--main-white-color);
        border: none;
        color: var(--main-shadow-color);
        border-radius: 5px;

    }

    #form_habitat_admin > .habitat_form_input::placeholder {
        color: var(--main-shadow-color);
        font-family: var(--font-family);
    }

    #form_habitat_admin > #habitat_name {
        grid-column: 1;
        grid-row: 1;
    }

    #form_habitat_admin > #habitat_description {
        grid-column: 2;
        grid-row: 1/4;
        resize: none;
    }

    #form_habitat_admin > #habitat_add_animals {
        grid-column: 1;
        grid-row: 2/4;
    }

    #form_habitat_admin > #div_add_doc_habitat {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        background-color: var(--main-white-color);
        border-radius: 5px;
        flex-direction: column;
    }

    #form_habitat_admin > #div_add_doc_habitat:hover {
        background-color: var(--main-normal-color);
        color: var(--main-white-color);
        transition: all 0.2s;
        border: solid 1px var(--main-white-color);
    }

    #form_habitat_admin > #div_add_doc_habitat > #habitat_add_picture {
        grid-column: 3;
        grid-row: 1/2;
        background-color: var(--main-white-color);
        width: 0.1px;
        height: 0.1px;
        opacity: 0;
        overflow: hidden;
        position: absolute;
    }

    #form_habitat_admin > #div_add_doc_habitat > #selected_files {
        display: block;
    margin-top: 10px;
    font-size: 14px;
    }

    #form_habitat_admin > #div_add_doc_habitat > #habitat_add_picture + label {
        display: inline-block;
        cursor: pointer;
    }

    #form_habitat_admin > #habitat_btn_save {
        grid-column: 3;
        grid-row: 3/4;
        cursor: pointer;
    }

    #form_habitat_admin > #habitat_btn_save:hover {
        background-color: var(--main-normal-color);
        color: var(--main-white-color);
        transition: all 0.2s;
        border: solid 1px var(--main-white-color); 
        
    }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
    #form_habitat_admin {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 10px;
        grid-auto-rows: minmax(50px, auto);
    }

    #form_habitat_admin > .habitat_form_input {
        background-color: var(--main-white-color);
        border: none;
        color: var(--main-shadow-color);
        border-radius: 5px;

    }

    #form_habitat_admin > .habitat_form_input::placeholder {
        color: var(--main-shadow-color);
        font-family: var(--font-family);
    }

    #form_habitat_admin > #habitat_name {
        grid-column: 1;
        grid-row: 1;
    }

    #form_habitat_admin > #habitat_description {
        grid-column: 2;
        grid-row: 1/4;
        resize: none;
    }

    #form_habitat_admin > #habitat_add_animals {
        grid-column: 1;
        grid-row: 2/4;
    }

    #form_habitat_admin > #div_add_doc_habitat {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        background-color: var(--main-white-color);
        border-radius: 5px;
        flex-direction: column;
    }

    #form_habitat_admin > #div_add_doc_habitat:hover {
        background-color: var(--main-normal-color);
        color: var(--main-white-color);
        transition: all 0.2s;
        border: solid 1px var(--main-white-color);
    }

    #form_habitat_admin > #div_add_doc_habitat > #habitat_add_picture {
        grid-column: 3;
        grid-row: 1/2;
        background-color: var(--main-white-color);
        width: 0.1px;
        height: 0.1px;
        opacity: 0;
        overflow: hidden;
        position: absolute;
    }

    #form_habitat_admin > #div_add_doc_habitat > #selected_files {
        display: block;
    margin-top: 10px;
    font-size: 14px;
    }

    #form_habitat_admin > #div_add_doc_habitat > #habitat_add_picture + label {
        display: inline-block;
        cursor: pointer;
    }

    #form_habitat_admin > #habitat_btn_save {
        grid-column: 3;
        grid-row: 3/4;
        cursor: pointer;
    }

    #form_habitat_admin > #habitat_btn_save:hover {
        background-color: var(--main-normal-color);
        color: var(--main-white-color);
        transition: all 0.2s;
        border: solid 1px var(--main-white-color); 
        
    }

}

@media screen and (min-width: 1025px) {

    #form_habitat_admin {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 10px;
        grid-auto-rows: minmax(50px, auto);
    }

    #form_habitat_admin > .habitat_form_input {
        background-color: var(--main-white-color);
        border: none;
        color: var(--main-shadow-color);
        border-radius: 5px;

    }

    #form_habitat_admin > .habitat_form_input::placeholder {
        color: var(--main-shadow-color);
        font-family: var(--font-family);
    }

    #form_habitat_admin > #habitat_name {
        grid-column: 1;
        grid-row: 1;
    }

    #form_habitat_admin > #habitat_description {
        grid-column: 2;
        grid-row: 1/4;
        resize: none;
    }

    #form_habitat_admin > #habitat_add_animals {
        grid-column: 1;
        grid-row: 2/4;
    }

    #form_habitat_admin > #div_add_doc_habitat {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        background-color: var(--main-white-color);
        border-radius: 5px;
        flex-direction: column;
    }

    #form_habitat_admin > #div_add_doc_habitat:hover {
        background-color: var(--main-normal-color);
        color: var(--main-white-color);
        transition: all 0.2s;
        border: solid 1px var(--main-white-color);
    }

    #form_habitat_admin > #div_add_doc_habitat > #habitat_add_picture {
        grid-column: 3;
        grid-row: 1/2;
        background-color: var(--main-white-color);
        width: 0.1px;
        height: 0.1px;
        opacity: 0;
        overflow: hidden;
        position: absolute;
    }

    #form_habitat_admin > #div_add_doc_habitat > #selected_files {
        display: block;
    margin-top: 10px;
    font-size: 14px;
    }

    #form_habitat_admin > #div_add_doc_habitat > #habitat_add_picture + label {
        display: inline-block;
        cursor: pointer;
    }

    #form_habitat_admin > #habitat_btn_save {
        grid-column: 3;
        grid-row: 3/4;
        cursor: pointer;
    }

    #form_habitat_admin > #habitat_btn_save:hover {
        background-color: var(--main-normal-color);
        color: var(--main-white-color);
        transition: all 0.2s;
        border: solid 1px var(--main-white-color); 
        
    }

}