.footer_public {
  background-color: var(--shadow);
  display: flex;
  justify-content: center;
  width: 100%;
}

.container_footer {
  width: 100%;
  padding: 20px 0 10px 0;
  max-width: 768px;
}

.link_home_logo {
  width: 100%;
}

.logo_public {
  width: 100%;
}

.bloc_container_infos {
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.footer_section {
  color: var(--white);
  font-size: 12px;
}

.ul_links_pulic_footer {
  list-style: none;
}

.link_footer {
  color: var(--white);
  font-size: 12px;
  text-decoration: none;
  cursor: pointer;
}

.copy_right {
  display: flex;
  justify-content: center;
  font-size: 10px;
  margin-top: 10px;
}

.link_copyright{
  color: white;
  text-decoration: none;
  cursor: pointer;
}