@import url(/css/config/config.css);


@media screen and (max-width : 768px) {
    #navbar_public {
        background-color: var(--main-shadow-color);
        height: 10vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #navbar_public > #div_nav_public {
        display: flex;
        align-items: center;
        width: 100%;
        justify-content: center;
        align-items: center;
    }

    #navbar_public > #div_nav_public > #container_logo_public {
        display: flex;
    }

    #navbar_public > #div_nav_public > #container_logo_public > #logo_public{
        height: 50px;

    }

    #navbar_public > #div_nav_public > #icons_menu_public {
        position: absolute;
        right: 30px;
    }

    #navbar_public > #div_nav_public > #icons_menu_public > #icon_close {
        display: none;
    }

    #navbar_public > #div_nav_public > #ul_links_pulic {
        display: none;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: absolute;
        height: 90vh;
        width: 100vw;
        bottom: 0;
        list-style: none;
        padding: 0;
        margin: 0;
        background-color: var(--main-normal-color);
        z-index: 100;
    }
    
    #navbar_public > #div_nav_public > #ul_links_pulic > .li_link_public {
        padding: 10px 0 10px 0;

    }

    #navbar_public > #div_nav_public > #ul_links_pulic > .li_link_public > a{
        text-decoration: none;
        color: var(--main-white-color);
        font-size: 20px;
        font-weight: bold;
    }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
    #navbar_public {
        background-color: var(--main-shadow-color);
        height: 10vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #navbar_public > #div_nav_public {
        display: flex;
        align-items: center;
        width: 100%;
        justify-content: center;
        align-items: center;
    }

    #navbar_public > #div_nav_public > #container_logo_public {
        display: flex;
    }

    #navbar_public > #div_nav_public > #container_logo_public > #logo_public{
        height: 50px;

    }

    #navbar_public > #div_nav_public > #icons_menu_public {
        position: absolute;
        right: 30px;
    }

    #navbar_public > #div_nav_public > #icons_menu_public > #icon_close {
        display: none;
    }

    #navbar_public > #div_nav_public > #ul_links_pulic {
        display: none;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: absolute;
        height: 90vh;
        width: 100vw;
        bottom: 0;
        list-style: none;
        padding: 0;
        margin: 0;
        background-color: var(--main-normal-color); 
        
    }
    
    #navbar_public > #div_nav_public > #ul_links_pulic > .li_link_public {
        padding: 10px 0 10px 0;

    }

    #navbar_public > #div_nav_public > #ul_links_pulic > .li_link_public > a{
        text-decoration: none;
        color: var(--main-white-color);
        font-size: 20px;
        font-weight: bold;
    }
}

@media screen and (min-width: 1025px) {
    #navbar_public {
        background-color: var(--main-shadow-color) ; 
        height: 10vh;
        display: flex;
        justify-content: space-around;
        align-items: center
    }

    #navbar_public > #div_nav_public {
        display: flex;
        width: 100%;
        max-width: 1440px;
        justify-content: space-around;
        align-items: center
    }

    #navbar_public > #div_nav_public > #container_logo_public {
        display: flex;
    }

    #navbar_public > #div_nav_public > #container_logo_public > #logo_public{
        height: 50px;

    }
    
    #navbar_public > #div_nav_public > #icons_menu_public {
        display: none;
    }

    #navbar_public > #div_nav_public > #ul_links_pulic {
        display: flex;
        align-content: center;
        justify-content: center;
        align-items: center;
        list-style: none;
    }
    
    #navbar_public > #div_nav_public > #ul_links_pulic > .li_link_public {
        padding: 0 2em 0 2em;
    }
    
    #navbar_public > #div_nav_public > #ul_links_pulic > .li_link_public > a {
        cursor: pointer;
        text-decoration: none;
        color: var(--main-white-color);
    }
}



