@import url(/public/css/componants/public/navbar.css);
@import url(/public/css/config/config.css);
@import url(/public/css/componants/public/form_login.css);


@media screen and (max-width : 768px) {
    #body_login_page{
        height: 100vh;
        background:linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7))  ,url(https://res.cloudinary.com/dnelvhydy/image/upload/v1708608309/samples/animals/mike-marrah-gRB4Euk4BYQ-unsplash_1_sdxsql.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;

    }

    #main_login_page > #form_login_page {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        z-index: 50;

    }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
    #body_login_page{
        height: 100vh;
        background:linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7))  ,url(https://res.cloudinary.com/dnelvhydy/image/upload/v1708608309/samples/animals/mike-marrah-gRB4Euk4BYQ-unsplash_1_sdxsql.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;

    }

    #main_login_page > #form_login_page {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }
}

@media screen and (min-width: 1025px) {
    #body_login_page{
        height: 100vh;
        background:linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7))  ,url(https://res.cloudinary.com/dnelvhydy/image/upload/v1708608309/samples/animals/mike-marrah-gRB4Euk4BYQ-unsplash_1_sdxsql.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;

    }

    #main_login_page > #form_login_page {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }
}
