@import url(../config/config.css);

nav {
    background-color: var(--main-shadow-color);
    height: 100px;
    display: flex;
    justify-content: flex-end;



}

ul {
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    list-style: none;

}

li {
    padding: 0 2em 0 2em;

}

a {
    cursor: pointer;
    text-decoration: none;
    color: var(--main-white-color);
}

::after {
    a{
        color: var(--main-clear-color);
}

}

